<!DOCTYPE html>
<html>

<head>
    <% if (is_admin) { %>
    <%- include("../../_includes/header", {title: "Projek - Panel Admin", build_time: build_time}) %>
    <% } else { %>
    <%- include("../../_includes/header", {title: "Projek - Panel Peladen", build_time: build_time}) %>
    <% } %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        h1 {
            font-size: xx-large;
        }

        h2 {
            font-size: x-large;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <div x-data="{ sidebarOpen: false }">
        <div class="flex h-screen bg-gray-100 dark:bg-gray-800 font-roboto">
            <%- include("../../_includes/sidenav", {...locals, nav: "projek"}) %>

            <div class="flex-1 flex flex-col overflow-hidden">
                <header class="flex justify-between items-center p-6 bg-white dark:bg-gray-900">
                    <div class="flex items-center space-x-4 lg:space-x-0">
                        <button @click="sidebarOpen = true"
                            class="text-gray-500 dark:text-gray-300 focus:outline-none lg:hidden">
                            <span class="material-icons h-6 w-6 mt-2">menu</span>
                            <!-- <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg> -->
                        </button>

                        <div>
                            <h1 class="text-2xl font-medium text-gray-800 dark:text-white">Projek</h1>
                        </div>
                    </div>

                    <div class="flex items-center space-x-4">
                        <button class="flex text-gray-600 dark:text-gray-300 transition-colors duration-300 ease-in-out hover:text-gray-400 focus:outline-none" onclick="toggleTheme();">
                            <span class="material-icons">mode_night</span>
                        </button>
                        <div x-data="{ dropdownOpen: false }" class="relative">
                            <button @click="dropdownOpen = ! dropdownOpen"
                                class="flex items-center space-x-2 relative focus:outline-none">
                                <h2 class="text-gray-700 dark:text-gray-300 text-sm hidden sm:block"><%= username %>
                                </h2>
                                <span class="material-icons mt-3 h-9 w-9 object-cover dark:text-white">
                                    <% if (is_admin) { %>
                                        admin_panel_settings
                                    <% } else { %>
                                        person
                                    <% } %>
                                </span>
                            </button>

                            <div class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10"
                                x-show="dropdownOpen" x-transition:enter="transition ease-out duration-100 transform"
                                x-transition:enter-start="opacity-0 scale-95"
                                x-transition:enter-end="opacity-100 scale-100"
                                x-transition:leave="transition ease-in duration-75 transform"
                                x-transition:leave-start="opacity-100 scale-100"
                                x-transition:leave-end="opacity-0 scale-95" @click.away="dropdownOpen = false">
                                <a href="/api/auth/logout"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white">Keluar</a>
                            </div>
                        </div>
                    </div>
                </header>

                <main id="root" class="flex-1 overflow-x-hidden overflow-y-auto" aria-type="projek-main">
                    <div class="container mx-auto px-6 py-8">
                        <a href="/admin/projek/tambah" class="px-3 py-2 rounded bg-green-600 text-white transition hover:bg-green-700 duration-400 ease-in-out hover:stack-shadow-2 ring-offset-green-800">
                            <span class="text-2xl font-extrabold mr-1">+</span>
                            <span class="font-semibold">Tambah</span>
                        </a>
                        <div id="projek-overview" class="flex flex-row mt-4">
                            <svg class="animate-spin -ml-1 mt-1 mr-3 h-5 w-5 dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                              </svg>
                            <p class="font-bold dark:text-gray-200 text-xl">Memuat data...</p>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    </div>
    <script src="/assets/js/projects.bundle.js"></script>
</body>