# Token Secret that will be used for Cookies Secret
# 32 Bit long
TOKEN_SECRET=this-is-a-very-secret-thing

# MongoDB Instance
# Include the database name
# Example: mongodb://localhost:27017/naaotimesdb
MONGODB_URI=

# Bot Socket
BOT_SOCKET_HOST=127.0.0.1
BOT_SOCKET_PORT=25670
BOT_SOCKET_PASSWORD=
