<!DOCTYPE html>
<html>

<head>
    <%- include("_includes/header", {title: "404", build_time: build_time}) %>
    <style>
        h1 {
            font-size: xx-large;
        }
        h2 {
            font-size: x-large;
        }
    </style>
</head>
<body>
    <div class="min-w-screen min-h-screen bg-gray-900 flex items-center justify-center px-5 py-5">
        <div class="rounded-3xl w-full" style="max-width:1000px">
            <div class="relative md:flex w-full">
                <div class="w-full py-10 px-5 md:px-10">
                    <div class="text-center mb-10">
                        <h1 class="mb-4 text-gray-100 font-bold">404</h1>
                        <hr>
                        <h1 class="my-4 text-gray-100 font-semibold">Tidak dapat menemukan link tersebut</h1>
                        <h2 class="font-mono text-red-500 pt-2">
                            <span class="border-2 border-red-400 p-1 px-2 opacity-70 rounded-lg">
                                <%= path %>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
