<!DOCTYPE html>
<html>

<head>
    <%- include("_includes/header", {title: status_code, build_time: build_time}) %>
    <style>
        h1 {
            font-size: xx-large;
        }
        h2 {
            font-size: x-large;
        }
    </style>
</head>
<body>
    <div class="min-w-screen min-h-screen bg-gray-900 flex items-center justify-center px-5 py-5">
        <div class="rounded-3xl w-full" style="max-width:1000px">
            <div class="relative md:flex w-full">
                <div class="w-full py-10 px-5 md:px-10">
                    <div class="text-center mb-10">
                        <h1 class="mb-4 text-gray-100 font-bold"><%= status_code %></h1>
                        <hr>
                        <h2 class="my-4 text-gray-100 font-mono"><%= err_msg %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
