<!DOCTYPE html>
<html>

<head>
    <%- include("_includes/header", {build_time: build_time, description: "Registrasi server anda ke naoTimes", title: "Registrasi"}) %>
    <style>
        h1 {
            font-size: xx-large;
        }

        h2 {
            font-size: x-large;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css"
        rel="stylesheet">
</head>

<body>
    <div class="min-w-screen min-h-screen bg-gray-900 flex items-center justify-center px-5 py-5">
        <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
            <div class="relative md:flex w-full">
                <div class="hidden md:block w-1/2 bg-gradient-to-br from-indigo-500 to-pink-300 py-10 px-10">
                    <img class="icon h-1/3 mb-2 ring-offset-indigo-800 transition-shadow duration-500 ease-in-out stack-shadow-6 hover:stack-shadow-3" src="/assets/img/nt192.png">
                    <div class="font-extrabold text-white text-3xl mb-3 mt-5">
                        <span class="bg-gradient-to-br from-indigo-800 to-indigo-600 transition-shadow duration-500 ease-in-out rounded-none px-2 py-1 stack-shadow-3 hover:stack-shadow-5 ring-offset-gray-800">naoTimes</span>
                    </div>
                    <div class="font-semibold text-lg text-gray-100 mb-4">
                        <p>Sebuah Bot Multifungsi dengan fitur utama tracking garapan Fansub</p>
                    </div>
                    <a class="font-semibold text-lg text-white hover:text-gray-200 transition-all duration-400 ease-in-out rounded-md bg-indigo-800 hover:bg-indigo-700 px-2 py-1 stack-shadow-2 hover:stack-shadow-3 ring-offset-indigo-900 mr-1"
                        href="https://naoti.me/invite" target="_blank">Invite!</a>
                    <a class="font-semibold text-lg text-white hover:text-gray-200 transition-all duration-400 ease-in-out rounded-md bg-indigo-800 hover:bg-indigo-700 px-2 py-1 stack-shadow-2 hover:stack-shadow-3 ring-offset-indigo-900"
                        href="https://discord.gg/7KyYecn" target="_blank">Support Server</a>
                </div>
                <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
                    <div class="text-center mb-5">
                        <h1 class="font-bold text-3xl text-gray-900 mb-2">Registrasi</h1>
                        <p>Mohon Invite Bot terlebih dahulu</p>
                        <p>Lalu masukan server ID anda di sini dan klik Registrasi</p>
                        <p>Admin ID, adalah User ID Discord</p>
                        <p>Setelah registrasi, silakan periksa dengan perintah <code class="text-red-500">!tagih</code></p>
                        <% if (locals.error_msg) { %>
                        <p class="text-sm text-red-400 mt-2">Error: <%= error_msg %></p>
                        <% } %>
                    </div>
                    <div>
                        <form method="POST" action="/api/auth/register" id="register-form">
                            <div class="flex -mx-3">
                                <div class="w-full px-3 mb-5">
                                    <label for="server" class="text-xs font-semibold px-1">Server ID</label>
                                    <div class="flex">
                                        <div
                                            class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                            <i class="mdi mdi-server text-gray-400 text-lg"></i></div>
                                        <input id="server" type="text" name="server"
                                            class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 transition-colors duraion-400 ease-in-out border-gray-200 outline-none focus:border-yellow-600"
                                            placeholder="xxxxxxxxxxxxxxxxxx">
                                    </div>
                                </div>
                            </div>
                            <div class="flex -mx-3">
                                <div class="w-full px-3 mb-5">
                                    <label for="admin" class="text-xs font-semibold px-1">Admin ID</label>
                                    <div class="flex">
                                        <div
                                            class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                            <i class="mdi mdi-account text-gray-400 text-lg"></i></div>
                                        <input id="admin" type="text" name="admin"
                                            class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 transition-colors duraion-400 ease-in-out border-gray-200 outline-none focus:border-yellow-600"
                                            placeholder="xxxxxxxxxxxxxxxxxx">
                                    </div>
                                </div>
                            </div>
                            <div class="flex -mx-3">
                                <div class="w-full px-3 mb-5">
                                    <button type="submit" id="sign-in-btn"
                                        class="block w-full max-w-xs mx-auto transition-colors duraion-400 ease-in-out bg-yellow-600 hover:bg-yellow-800 focus:bg-yellow-700 text-white rounded-lg px-3 py-3 font-semibold">
                                        Daftar
                                    </button>
                                    <a href="/" class="block mt-2 text-sm text-center text-gray-500 hover:text-gray-400 transition-colors duration-100">Sudah terdaftar?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Donasi pl0x -->
    <div class="flex items-end justify-end fixed bottom-0 right-0 mb-6 mr-6 z-10">
        <div>
            <a title="Trakteer Indomie" href="https://trakteer.id/noaione" target="_blank" class="block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12 bg-white">
                <img title="Trakteer Indomie" class="object-cover object-center w-full h-full rounded-full" src="https://trakteer.id/images/mix/Logo%20Trakteer%20-%20Lite-01.png"/>
            </a>
        </div>
    </div>
    <script>
        function submitForm() {
            document.getElementById("register-form").submit();
        }

        // const signInBtn = document.getElementById("sign-in-btn");
        // signInBtn.addEventListener("click", (ev) => {
        //     submitForm();
        // });
        const serverSlot = document.getElementById("server");
        const adminSlot = document.getElementById("admin");

        serverSlot.addEventListener("keyup", onEnterSend);
        adminSlot.addEventListener("keyup", onEnterSend);

        function onEnterSend(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                const username = userNameSlot.value;
                const password = passwordSlot.value;
                if (username && password) {
                    submitForm();
                }
            }
        }
    </script>
</body>

</html>