<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<% if (locals.title) { %>
    <title><%= title %> :: naoTimesUI</title>
<% } else { %>
    <title>naoTimesUI</title>
<% } %>
<% if (locals.description) { %>
    <meta name="description" content="<%= description %>">
<% } else { %>
    <meta name="description" content="Sebuah WebUI untuk naoTimes">
<% } %>
<meta name="theme-color" content="#383838">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="icon" href="/assets/favicon.ico">
<script>
    // Helper
    const isNullified = function(data) {
        return typeof data === "undefined" || data === null;
    }

    // Check for first user preferences.
    let userPreferDark;
    let systemPreferDark = false;
    if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
        systemPreferDark = true;
    }
    try {
        const themeStorage = localStorage.getItem("theme");
        if (!isNullified(themeStorage)) {
            userPreferDark = themeStorage === "dark" ? true : false;
        }
    } catch (e) {};
    if (isNullified(userPreferDark)) {
        if (systemPreferDark) {
            document.documentElement.classList.add("dark");
            localStorage.setItem("theme", "dark");
        } else {
            localStorage.setItem("theme", "light");
        }
    } else {
        if (userPreferDark) {
            document.documentElement.classList.add("dark");
        }
    }

    // Theme toggler
    const toggleTheme = function() {
        try {
            const isDark = document.documentElement.classList.contains("dark");
            isDark ? document.documentElement.classList.remove("dark") : document.documentElement.classList.add("dark");
            localStorage.setItem("theme", isDark ? "light" : "dark");
        } catch (e) {};
    };
</script>
<% if (locals.build_time) { %>
<link rel="stylesheet" href="/assets/main.css?<%= build_time %>">
<% } else { %>
<link rel="stylesheet" href="/assets/main.css?<%= (new Date()).getTime() %>">
<% } %>
<script async defer data-domain="panel.naoti.me" src="https://tr.n4o.xyz/js/plausible.js"></script>