<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<% if (locals.title) { %>
    <title><%= title %> :: naoTimesUI</title>
<% } else { %>
    <title>naoTimesUI</title>
<% } %>
<% if (locals.description) { %>
    <meta name="description" content="<%= description %>">
<% } else { %>
    <meta name="description" content="A WebUI for naoTimes Showtimes Module">
<% } %>
<meta name="theme-color" content="#383838">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="icon" href="/assets/favicon.ico">
<link rel="stylesheet" href="/assets/main.css">