.border-t-3 {
    border-top-width: 3px;
}

.role-accent-red {
    @apply border-red-500 dark:border-red-400;
}

.role-accent-yellow {
    @apply border-yellow-500 dark:border-yellow-400;
}

.role-accent-green {
    @apply border-green-500 dark:border-green-400;
}

.role-accent-blue {
    @apply border-blue-500 dark:border-blue-400;
}

.role-accent-indigo {
    @apply border-indigo-500 dark:border-indigo-400;
}

.role-accent-purple {
    @apply border-purple-500 dark:border-purple-400;
}

.role-accent-pink {
    @apply border-pink-500 dark:border-pink-400;
}

/*
    Custom Skeleton styling
*/

.naotimes-skeleton {
    --base-color: #ebebeb !important;
    --highlight-color: #f5f5f5 !important;
}

.dark .naotimes-skeleton {
    --base-color: #4c5664 !important;
    --highlight-color: #6a717f !important;
}

/*
    Dark stuff
*/

@layer components {
    .form-darkable {
        @apply form-input rounded-lg bg-white border-gray-300 dark:bg-gray-800 dark:text-gray-300 dark:border-[#6B7280] hover:border-yellow-500 dark:hover:border-yellow-500 focus:border-yellow-500 dark:focus:border-yellow-500 border-[1px] transition duration-200 focus:outline-none;
        box-shadow: none !important;
    }

    .form-textarea-darkable {
        @apply form-textarea rounded-lg bg-white border-gray-300 dark:bg-gray-800 dark:text-gray-300 dark:border-[#6B7280] hover:border-yellow-500 dark:hover:border-yellow-500 focus:border-yellow-500 dark:focus:border-yellow-500 border-[1px] transition duration-200 focus:outline-none;
        box-shadow: none !important;
    }

    .form-select-darkable {
        @apply form-select rounded-lg bg-white border-gray-300 dark:bg-gray-800 dark:text-gray-300 dark:border-[#6B7280] hover:border-yellow-500 dark:hover:border-yellow-500 focus:border-yellow-500 dark:focus:border-yellow-500 border-[1px] transition duration-200 focus:outline-none;
        box-shadow: none !important;
    }
}
